In [1]:
import re
import pandas as pd

In [4]:
# Read the text file
with open('65027 XII.txt', 'r') as file:
    content = file.read()

# Define regular expressions to match roll numbers, names, grades, and subjects
roll_pattern = r"\b\d{8}\b"
name_pattern = r"[A-Z\s]+"
grade_pattern = r"[A-G][1-9]\b|\bX\b"
subject_pattern = r"\b\d{3}\b"

# Find all occurrences of roll numbers, names, grades, and subjects
rolls = re.findall(roll_pattern, content)
names = re.findall(name_pattern, content)
grades = re.findall(grade_pattern, content)
subjects = re.findall(subject_pattern, content)

# Create a list to store the extracted data
data = []

# Helper function to process a single student's data and append it to the 'data' list
def process_student_data(roll, gender, name, subject_grades):
    student_data = [roll, gender, name]
    for sub, grade in subject_grades:
        student_data.extend([sub, grade])
    # If a student has fewer than 6 subjects, add None values for the missing subjects and grades
    while len(student_data) < 17:
        student_data.extend([None, None])
    data.append(student_data)

# Process the extracted data to create the final list 'data'
current_roll = None
current_name = None
current_gender = None
subject_grades = []

for i in range(len(rolls)):
    roll = rolls[i]
    if roll != current_roll:
        if current_roll is not None:
            process_student_data(current_roll, current_gender, current_name, subject_grades)
        current_roll = roll
        current_name = names[i]
        current_gender = content.split(roll)[1].strip().split()[0]
        subject_grades = [(subjects[i], grades[i])]
    else:
        subject_grades.append((subjects[i], grades[i]))

# Process the last student's data
if current_roll is not None:
    process_student_data(current_roll, current_gender, current_name, subject_grades)

# Create the DataFrame
columns = ['Roll', 'Gender', 'Name', 'Sub_1', 'Grade_1', 'Sub_2', 'Grade_2', 'Sub_3', 'Grade_3', 'Sub_4', 'Grade_4', 'Sub_5', 'Grade_5', 'Sub_6', 'Grade_6', 'Result', 'Compart_Sub']
df = pd.DataFrame(data, columns=columns)

# Display the DataFrame
df

,Roll,Gender,Name,Sub_1,Grade_1,Sub_2,Grade_2,Sub_3,Grade_3,Sub_4,Grade_4,Sub_5,Grade_5,Sub_6,Grade_6,Result,Compart_Sub
0,22614342,M,DATE,301,X,None,None,None,None,None,None,None,None,None,None,None,None
1,22614343,F,,302,B1,None,None,None,None,None,None,None,None,None,None,None,None
2,22614344,F,C,041,A2,None,None,None,None,None,None,None,None,None,None,None,None
3,22614345,M,B,042,B2,None,None,None,None,None,None,None,None,None,None,None,None
4,22614346,M,S,043,B2,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,22614654,F,,301,C1,None,None,None,None,None,None,None,None,None,None,None,None
313,22614655,F,C,048,A2,None,None,None,None,None,None,None,None,None,None,None,None
314,22614656,M,\n,041,C2,None,None,None,None,None,None,None,None,None,None,None,None
315,22614657,M,F ARSHI KUMARI ...,042,A1,None,None,None,None,None,None,None,None,None,None,None,None
316,22614658,M,,043,B1,None,None,None,None,None,None,None,None,None,None,None,None