In [1]:
import re
import pandas as pd

In [2]:
# Read the text file
with open('65027 XII.txt', 'r') as file:
    text = file.read()

In [3]:
# Define patterns for extracting Date, School code and name, and Region
date_pattern = r"DATE:- (\d{2}/\d{2}/\d{4})"
school_pattern = r"SCHOOL : - (\d+) (.+)"
region_pattern = r"REGION: (.+)"

In [4]:
# Find matches for Date, School code and name, and Region
date_match = re.search(date_pattern, text)
school_match = re.search(school_pattern, text)
region_match = re.search(region_pattern, text)

In [5]:
date = date_match.group(1) if date_match else ""
school_code = school_match.group(1) if school_match else ""
school_name = school_match.group(2) if school_match else ""
region = region_match.group(1) if region_match else ""

In [6]:
# Define the pattern to extract data for each candidate
candidate_pattern = r"(\d+)\s+(\w)\s+(\w.+?)\s+(\d{3})\s+(\d{3})\s+(\d{3})\s+(\d{3})\s+(\d{3})\s+(\d{3})\s+(\w \w \w)\s+(\w+)\s*"

In [7]:
# Find all matches in the text using the candidate pattern
matches = re.findall(candidate_pattern, text)

In [8]:
# Initialize empty lists to store data
roll_numbers = []
genders = []
names = []
subjects = []
grades = []
results = []
comp_subjects = []

In [9]:
# Process each match and extract data points
for match in matches:
    roll_number = match[0]
    gender = match[1]
    name = match[2].strip()
    subjects_list = match[3:9]
    grades_list = match[9:15]
    result = match[15]
    comp_subject = match[16].strip()

    roll_numbers.append(roll_number)
    genders.append(gender)
    names.append(name)
    subjects.append(subjects_list)
    grades.append(grades_list)
    results.append(result)
    comp_subjects.append(comp_subject)

In [13]:
# Create a pandas dataframe
df = pd.DataFrame({
    'Roll No.': roll_numbers,
    'Gender': genders,
    'Student Name': names,
    'Subjects': subjects,
    'Grades': grades,
    'Result': results,
    'Comp Subject': comp_subjects
})

In [16]:
# Convert 'Subjects' and 'Grades' columns to strings
df['Subjects'] = df['Subjects'].astype(str)
df['Grades'] = df['Grades'].astype(str)

In [17]:
# Extract subject codes from the first row and use them to name the subject columns
subject_codes = df['Subjects'].apply(lambda x: 'Subject ' + x).str.cat(sep=',').split(',')
grade_columns = df['Grades'].apply(lambda x: 'Grade ' + x).str.cat(sep=',').split(',')
df = df.iloc[1:].reset_index(drop=True)
df.columns = ['Roll No.', 'Gender', 'Student Name'] + subject_codes + grade_columns + ['Result', 'Comp Subject']

In [18]:
# Add extracted data to the dataframe
df[subject_codes] = subjects
df[grade_columns] = grades
df['Result'] = results
df['Comp Subject'] = comp_subjects

ValueError: Columns must be same length as key

In [19]:
# Add additional information (Date, School Code, School Name, Region) to the dataframe
df['Date'] = date
df['School Code'] = school_code
df['School Name'] = school_name
df['Region'] = region

In [20]:
# Display the dataframe
print(df)

Empty DataFrame
Columns: [Roll No., Gender, Student Name, , , Result, Comp Subject, Date, School Code, School Name, Region]
Index: []